<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="System" type="NodeJSConfigurationType" factoryName="Node.js" node-parameters="-r dotenv/config" path-to-js-file="node_modules/.bin/ava" working-dir="$PROJECT_DIR$">
    <method v="2" />
  </configuration>
</component>